[Unit]
Description=Service to run flask application
After=network.target

[Service]
ExecStart=/usr/local/bin/gunicorn -w 3 -b 0.0.0.0:5000 app:app
WorkingDirectory=/var/flaskapp/
User=flaskapp
Group=flaskapp
TimeoutStopSec=infinity

[Install]
WantedBy=multi-user.target
